<% if (query === 'Spotify') { %>
  <%- include('../partials/spotify') %>

<% } else if (query === 'Apple') { %>
  <%- include('../partials/apple') %>

<% } else if (query === 'Sound') { %> 
  <%- include('../partials/soundcloud') %>
  <% } else { %>
    <%- include('../partials/header') %>
    <% } %>

<% if (query === 'Spotify') { %>
<h1>Spotify Playlists</h1>
<% } else if (query === 'Apple') { %>
<h1>Apple Music Playlists</h1>
<% } else if (query === 'Sound') { %> 
<h1>Soundcloud Playlists</h1>
<% } %>



<div class="playlist-container">
 <h3>Click A Playlist To Listen!</h3>
  <table id="list">
      <thead>
          <tr>
            <th></th>
            
          </tr>
        </thead>
      
      <tbody>
        <% playlists.forEach(function(p) { %>
         <% if (p.streamingService === stream) { %>
          <tr>
            <td><a href="/playlists/<%= p._id %>" target="_blank"><%= p.name %></a>
             <% if (user && user._id.equals(p.user)) { %>
              <form action="/playlists/<%= p._id %>?_method=DELETE" method="POST">
                <button id="add" type="submit">Delete Playlist</button>
              </form>
            <% } %></td>
          </tr
          <% } %>
          <% }); %>
         
        </tbody>
      </table>
</div>
<a class="add" href="/playlists/new?filter=<%= query %>">Add Playlist</a>







<%- include('../partials/footer') %>