<% if (query === 'Spotify') { %>
  <%- include('../partials/spotify') %>

<% } else if (query === 'Apple') { %>
  <%- include('../partials/apple') %>

<% } else if (query === 'Sound') { %> 
  <%- include('../partials/soundcloud') %>
  <% } else { %>
    <%- include('../partials/header') %>
    <% } %>

<% if (query === 'Spotify') { %>
<h1>Spotify Playlists</h1>
<% } else if (query === 'Apple') { %>
<h1>Apple Music Playlists</h1>
<% } else if (query === 'Sound') { %> 
<h1>Soundcloud Playlists</h1>
<% } %>









<div class="playlist-container">

  <table id="list">
      <thead>
          <tr>
            <th>Title</th>
            <th>Link</th>
          </tr>
        </thead>
      
      <tbody>
        <% playlists.forEach(function(p) { %>
         <% if (p.streamingService === stream) { %>
          <tr>
            <td><%= p.name %></td>
            <td><a href="/playlists/<%= p._id %>" target="_blank"><%= p.name %></a></td>
            <td> <% if (user && user._id.equals(p.user)) { %>
              <form action="/playlists/<%= p._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %></td>
          </tr
          <% } %>
          <% }); %>
          <tr><a href="/playlists/new?filter=<%= query %>">Add Playlist</a></tr>
        </tbody>
      </table>
</div>







<%- include('../partials/footer') %>