
    <% if (service === 'Spotify') { %>
      <%- include('../partials/spotify') %>
    
    <% } else if (service === 'Apple') { %>
      <%- include('../partials/apple') %>
    
    <% } else if (service === 'Sound') { %> 
      <%- include('../partials/soundcloud') %>
      <% } else { %>
        <%- include('../partials/header') %>
        <% } %>
<body>
  <% if (service === 'Spotify') { %>
    <% stream = 'Spotify' %>
    <h1>SPOTIFY</h1>

  <% } else if (service === 'Apple') { %>
    <% stream = 'Apple Music' %>
    <h1>Apple Music</h1>
    
    <% } else if (service === 'Sound') { %> 
      <% stream = 'Soundcloud' %>
      <h1>Soundcloud</h1>
    <% } %>
    <div class="container" >   
    <form id="add-playlist" action="/playlists" method="POST">
        <label>Playlist Name:</label>
        <input type="text" name="name">
        <label>Service:</label>
        <input type="text" name="streamingService" value="<%= stream %>" readonly></input>
        <label>Embedded Link:</label>
        <input type="text" name="link" required pattern="<iframe(.+)">
        <input type="submit" value="Add Playlist" id="add">
      </form>
    </div>

    <h1 class="direction">Make sure you grab the <u>embedded link</u> for your playlist. Here's how!</h1>

    <div class="tutorial">

      <% if (service === 'Spotify') { %>
      <img class="embed" src="https://media1.giphy.com/media/6mq9ao1CPcZrxPBdjv/giphy.gif" alt="tutorial">
      
      <% } else if (service === 'Apple') { %>
        <img class="embed" src="https://media3.giphy.com/media/oOpz4G5cYRFEvZc75w/giphy.gif" alt="tutorial">
      
      <% } else if (service === 'Sound') { %> 
       <img class="embed" src="https://media1.giphy.com/media/BvXMl4gDbyWQj1Jd0S/giphy.gif" alt="tutorial">
        <% } else { %>
          oopsie
          <% } %>
      
     
    </div>
    
</body>



<%- include('../partials/footer') %>