
    <% if (service === 'Spotify') { %>
      <%- include('../partials/spotify') %>
    
    <% } else if (service === 'Apple') { %>
      <%- include('../partials/apple') %>
    
    <% } else if (service === 'Sound') { %> 
      <%- include('../partials/soundcloud') %>
      <% } else { %>
        <%- include('../partials/header') %>
        <% } %>
<body>
  <% if (service === 'Spotify') { %>
    <% stream = 'Spotify' %>
    <h1>SPOTIFY</h1>

  <% } else if (service === 'Apple') { %>
    <% stream = 'Apple Music' %>
    <h1>Apple Music</h1>
    
    <% } else if (service === 'Sound') { %> 
      <% stream = 'Soundcloud' %>
      <h1>Soundcloud</h1>
    <% } %>
    <div class="container" >   
    <form id="add-playlist" action="/playlists" method="POST">
        <label>Playlist Name:</label>
        <input type="text" name="name">
        <label>Streaming Service</label>
        <input type="text" name="streamingService" value="<%= stream %>" readonly></input>
        <label>Link</label>
        <input type="text" name="link" required pattern="<iframe(.+)<\/iframe>">
        <input type="submit" value="add-playlist">
      </form>
    </div>

    <div class="tutorial">

      <% if (service === 'Spotify') { %>
      <img class="embed" src="https://media4.giphy.com/media/3Pdi2E0K0HAfIR7cv5/200.webp" alt="tutorial">
      
      <% } else if (service === 'Apple') { %>
        <img class="embed" src="https://media4.giphy.com/media/wdLhzHNIfXVAeFVFXz/giphy.gif" alt="tutorial">
      
      <% } else if (service === 'Sound') { %> 
       <img class="embed" src="https://media4.giphy.com/media/nvWrtgLMuL4fvM6m86/giphy.gif" alt="tutorial">
        <% } else { %>
          oopsie
          <% } %>
      
     
    </div>
    
</body>



<%- include('../partials/footer') %>