<%- include('../partials/listen') %>


<h1 id="rainbow-text"><%- playlist.name %> </h1>


<div>
    <%- playlist.link %>
</div>





<div class="container"> 
    <% if (user) { %>
        <form id="add-review" method="POST" action="/playlists/<%= playlist._id %>/reviews">
            <div class="review-content">
                <label>Review-</label>
                <input class="review"name="content"></input>
                <input type="submit" value="Add Review" class="add">
            </div>
          </form>
          <% } else { %>
            <a href="/auth/google" class="login">LOG IN TO LEAVE A REVIEW&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
            <% } %>

</div>
<h1 id="rainbow-text">Reviews</h1>
    
      <table class="review-table">
         <thead>
             <th>Listener</th>
             <th>Date Created</th>
             <th>Review</th>
         </thead>
          <tbody>
              <% playlist.reviews.forEach(function(r) { %>
                <tr>
                    <td id="pfp"><img class="avatar" src="<%= r.userAvatar%>" alt="avatar"><%= r.userName %></td>
                    <td id="date"> <%= r.createdAt.toLocaleDateString() %> </td>
                    <td class="review-text"> <%= r.content %> </td>
                    <td >
                    <% if (user && user._id.equals(r.user)) { %>
                       
                    
                        <form class="comment-container" action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                            <input class="review" name="content" value="<%= r.content %>">
                            <button class="add" type="submit">Edit Review</button>
                            <form class="comment-container" action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                <button class="add" type="submit">Delete</button>
                            </form>
                          </form>
                        <% } %>
                    </td>
                </tr>
    
                <% }); %>
            </tbody>
        </table>

     





<%- include('../partials/footer') %>